In [5]:
# install.packages("sqldf")
library("sqldf")

In [20]:
data(mtcars)
nrow(mtcars); ncol(mtcars); dim(mtcars)
str(mtcars)
names(mtcars)
head(mtcars)

[1] 32

[1] 11

[1] 32 11

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [26]:
sqldf("select * from mtcars") #mtcars

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [29]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [31]:
row.names(mtcars)

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

In [61]:
sqldf("select * from mtcars limit 6;") # row.names = TRUE
head(mtcars, 6)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [57]:
mtcars[mtcars$am == 0, ]
sqldf("select * from mtcars where am=0")

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
2  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
3  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
4  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
5  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
6  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
7  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
8  17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
9  16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
10 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
11 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
12 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
13 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
14 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
15 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
16 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
17 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
18 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
19 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2

In [70]:
data("UCBAdmissions")
class(UCBAdmissions)
ucb = as.data.frame(UCBAdmissions)
class(ucb)
dim(ucb)
head(ucb)

[1] "table"

[1] "data.frame"

[1] 24  4

  Admit    Gender Dept Freq
1 Admitted Male   A    512
2 Rejected Male   A    313
3 Admitted Female A     89
4 Rejected Female A     19
5 Admitted Male   B    353
6 Rejected Male   B    207

In [90]:
summary(ucb[ucb$Gender=="Female",]$Admit)
ucb[ucb$Gender=="Female" & ucb$Admit=="Admitted",]

Admitted Rejected
       6        6

   Admit    Gender Dept Freq
3  Admitted Female A     89
7  Admitted Female B     17
11 Admitted Female C    202
15 Admitted Female D    131
19 Admitted Female E     94
23 Admitted Female F     24

In [91]:
sqldf("select * from ucb where Gender='Female'")

   Admit    Gender Dept Freq
1  Admitted Female A     89
2  Rejected Female A     19
3  Admitted Female B     17
4  Rejected Female B      8
5  Admitted Female C    202
6  Rejected Female C    391
7  Admitted Female D    131
8  Rejected Female D    244
9  Admitted Female E     94
10 Rejected Female E    299
11 Admitted Female F     24
12 Rejected Female F    317

In [95]:
ucb[ucb$Admit=="Admitted",]
sqldf("SELECT * FROM ucb where Admit='Admitted'")

   Admit    Gender Dept Freq
1  Admitted Male   A    512
3  Admitted Female A     89
5  Admitted Male   B    353
7  Admitted Female B     17
9  Admitted Male   C    120
11 Admitted Female C    202
13 Admitted Male   D    138
15 Admitted Female D    131
17 Admitted Male   E     53
19 Admitted Female E     94
21 Admitted Male   F     22
23 Admitted Female F     24

   Admit    Gender Dept Freq
1  Admitted Male   A    512
2  Admitted Female A     89
3  Admitted Male   B    353
4  Admitted Female B     17
5  Admitted Male   C    120
6  Admitted Female C    202
7  Admitted Male   D    138
8  Admitted Female D    131
9  Admitted Male   E     53
10 Admitted Female E     94
11 Admitted Male   F     22
12 Admitted Female F     24

In [110]:
ucb[order(ucb$Dept, decreasing = TRUE), ]
sqldf("SELECT * FROM ucb ORDER BY Dept DESC;")

   Admit    Gender Dept Freq
21 Admitted Male   F     22
22 Rejected Male   F    351
23 Admitted Female F     24
24 Rejected Female F    317
17 Admitted Male   E     53
18 Rejected Male   E    138
19 Admitted Female E     94
20 Rejected Female E    299
13 Admitted Male   D    138
14 Rejected Male   D    279
15 Admitted Female D    131
16 Rejected Female D    244
9  Admitted Male   C    120
10 Rejected Male   C    205
11 Admitted Female C    202
12 Rejected Female C    391
5  Admitted Male   B    353
6  Rejected Male   B    207
7  Admitted Female B     17
8  Rejected Female B      8
1  Admitted Male   A    512
2  Rejected Male   A    313
3  Admitted Female A     89
4  Rejected Female A     19

   Admit    Gender Dept Freq
1  Admitted Male   F     22
2  Rejected Male   F    351
3  Admitted Female F     24
4  Rejected Female F    317
5  Admitted Male   E     53
6  Rejected Male   E    138
7  Admitted Female E     94
8  Rejected Female E    299
9  Admitted Male   D    138
10 Rejected Male   D    279
11 Admitted Female D    131
12 Rejected Female D    244
13 Admitted Male   C    120
14 Rejected Male   C    205
15 Admitted Female C    202
16 Rejected Female C    391
17 Admitted Male   B    353
18 Rejected Male   B    207
19 Admitted Female B     17
20 Rejected Female B      8
21 Admitted Male   A    512
22 Rejected Male   A    313
23 Admitted Female A     89
24 Rejected Female A     19

In [141]:
length(unique(ucb$Dept))
length(table(ucb$Dept))
sqldf("SELECT COUNT(DISTINCT Dept) AS no_of_Depts FROM ucb")

[1] 6

[1] 6

  no_of_Depts
1 6

In [149]:
# install.packages("tidyverse")
library(tidyverse)

In [153]:
ucb %>% select(Dept) %>% unique() %>% count()
ucb |> select(Dept) |> unique() |> count()

  n
1 6

  n
1 6

In [230]:
sum(ucb[ucb$Admit == "Admitted",]$Freq)
sqldf("SELECT SUM(Freq) FROM ucb WHERE Admit='Admitted'")
ucb |> filter(Admit == "Admitted") |> select(Freq) |> sum()

[1] 1755

  SUM(Freq)
1 1755

[1] 1755

In [236]:
sum(ucb[ucb$Admit == "Rejected", 4])
sqldf("SELECT SUM(Freq) FROM ucb WHERE Admit='Rejected'")
ucb |> filter(Admit == "Rejected") |> select(Freq) |> sum()

[1] 2771

  SUM(Freq)
1 2771

[1] 2771

In [244]:
sum(ucb[ucb$Admit == "Admitted" & ucb$Gender == "Male", 4])
sqldf("SELECT SUM(Freq) FROM ucb WHERE Admit='Admitted' AND Gender='Male'")
ucb |> filter(Admit == "Admitted" & Gender == "Male") |> select(Freq) |> sum()

[1] 1198

  SUM(Freq)
1 1198

[1] 1198

In [295]:
mean(ucb[ucb$Admit == "Admitted", 4])
sqldf("SELECT AVG(Freq) AS avg_freq FROM ucb WHERE Admit='Admitted'")
ucb |> filter(Admit == "Admitted") |> summarise(mean(Freq))

[1] 146.25

  avg_freq
1 146.25

  mean(Freq)
1 146.25

##########

In [304]:
library(sqldf)
library(ggplot2)
data(diamonds)
# help(diamonds)
head(diamonds)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [320]:
nrow(diamonds)
sqldf("SELECT COUNT(*) from diamonds")

[1] 53940

  COUNT(*)
1 53940

In [328]:
diamond = sqldf("SELECT * FROM diamonds")
head(diamond)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [ ]:
sqldf("SELECT * FROM diamond WHERE cut='Ideal'")

      carat cut   color clarity depth table price x    y    z
1     0.23  Ideal E     SI2     61.5  55.0   326  3.95 3.98 2.43
2     0.23  Ideal J     VS1     62.8  56.0   340  3.93 3.90 2.46
3     0.31  Ideal J     SI2     62.2  54.0   344  4.35 4.37 2.71
4     0.30  Ideal I     SI2     62.0  54.0   348  4.31 4.34 2.68
5     0.33  Ideal I     SI2     61.8  55.0   403  4.49 4.51 2.78
6     0.33  Ideal I     SI2     61.2  56.0   403  4.49 4.50 2.75
7     0.33  Ideal J     SI1     61.1  56.0   403  4.49 4.55 2.76
8     0.23  Ideal G     VS1     61.9  54.0   404  3.93 3.95 2.44
9     0.32  Ideal I     SI1     60.9  55.0   404  4.45 4.48 2.72
10    0.30  Ideal I     SI2     61.0  59.0   405  4.30 4.33 2.63
11    0.35  Ideal I     VS1     60.9  57.0   552  4.54 4.59 2.78
12    0.30  Ideal D     SI1     62.5  57.0   552  4.29 4.32 2.69
13    0.30  Ideal D     SI1     62.1  56.0   552  4.30 4.33 2.68
14    0.28  Ideal G     VVS2    61.4  56.0   553  4.19 4.22 2.58
15    0.32  Ideal I     VVS1    62.0  55.3   553  4.39 4.42 2.73
16    0.26  Ideal E     VVS2    62.9  58.0   554  4.02 4.06 2.54
17    0.38  Ideal I     SI2     61.6  56.0   554  4.65 4.67 2.87
18    0.70  Ideal E     SI1     62.5  57.0  2757  5.70 5.72 3.57
19    0.70  Ideal G     VS2     61.6  56.0  2757  5.70 5.67 3.50
20    0.74  Ideal G     SI1     61.6  55.0  2760  5.80 5.85 3.59
21    0.80  Ideal I     VS1     62.9  56.0  2760  5.94 5.87 3.72
22    0.75  Ideal G     SI1     62.2  55.0  2760  5.87 5.80 3.63
23    0.74  Ideal I     VVS2    62.3  55.0  2761  5.77 5.81 3.61
24    0.81  Ideal F     SI2     58.8  57.0  2761  6.14 6.11 3.60
25    0.59  Ideal E     VVS2    62.0  55.0  2761  5.38 5.43 3.35
26    0.80  Ideal F     SI2     61.4  57.0  2761  5.96 6.00 3.67
27    0.74  Ideal E     SI2     62.2  56.0  2761  5.80 5.84 3.62
28    0.73  Ideal F     VS2     62.6  56.0  2762  5.77 5.74 3.60
29    0.73  Ideal F     VS2     62.7  53.0  2762  5.80 5.75 3.62
30    0.71  Ideal G     VS2     62.4  54.0  2762  5.72 5.76 3.58
⋮     ⋮     ⋮     ⋮     ⋮       ⋮     ⋮     ⋮     ⋮    ⋮    ⋮
21522 0.82  Ideal J     VS2     61.6  56.0  2741  6.00 6.04 3.71
21523 0.56  Ideal D     VS1     61.1  56.0  2741  5.30 5.33 3.25
21524 0.71  Ideal H     VVS1    62.1  57.0  2742  5.67 5.70 3.53
21525 0.83  Ideal J     VS2     62.3  55.0  2742  6.01 6.03 3.75
21526 0.51  Ideal D     VVS2    61.7  56.0  2742  5.16 5.14 3.18
21527 0.51  Ideal D     VVS2    61.3  57.0  2742  5.17 5.14 3.16
21528 0.75  Ideal F     SI1     62.3  57.0  2744  5.82 5.77 3.61
21529 0.70  Ideal G     SI1     60.7  55.0  2744  5.76 5.80 3.51
21530 0.70  Ideal E     SI1     61.7  55.0  2745  5.71 5.74 3.53
21531 0.51  Ideal E     VVS1    61.9  54.0  2745  5.17 5.11 3.18
21532 0.72  Ideal G     VS1     62.6  53.0  2746  5.76 5.78 3.61
21533 0.81  Ideal D     SI1     61.5  57.0  2748  6.00 6.03 3.70
21534 0.52  Ideal F     IF      61.5  57.0  2749  5.15 5.19 3.18
21535 0.80  Ideal G     SI2     62.2  56.0  2749  5.95 5.91 3.69
21536 0.56  Ideal E     VVS1    62.1  56.0  2750  5.28 5.29 3.28
21537 0.70  Ideal F     VS1     62.5  56.0  2751  5.73 5.70 3.57
21538 0.70  Ideal F     VS1     62.0  55.0  2751  5.74 5.71 3.55
21539 0.71  Ideal G     SI1     60.5  56.4  2751  5.76 5.80 3.50
21540 0.83  Ideal G     SI2     62.4  54.0  2751  6.01 6.08 3.77
21541 0.72  Ideal H     VVS2    62.3  56.0  2752  5.74 5.81 3.60
21542 0.73  Ideal H     VS2     62.5  58.0  2752  5.71 5.75 3.58
21543 0.77  Ideal E     SI2     62.1  56.0  2753  5.84 5.86 3.63
21544 0.76  Ideal I     VVS1    62.2  55.0  2753  5.89 5.87 3.66
21545 0.73  Ideal I     VS2     61.3  56.0  2756  5.80 5.84 3.57
21546 0.73  Ideal I     VS2     61.6  55.0  2756  5.82 5.84 3.59
21547 0.79  Ideal I     SI1     61.6  56.0  2756  5.95 5.97 3.67
21548 0.71  Ideal E     SI1     61.9  56.0  2756  5.71 5.73 3.54
21549 0.71  Ideal G     VS1     61.4  56.0  2756  5.76 5.73 3.53
21550 0.72  Ideal D     SI1     60.8  57.0  2757  5.75 5.76 3.50
21551 0.75  Ideal D     SI2     62.2  55.0  2757  5.83 5.87 3.64

: