In [174]:
1+2*3

[1] 7

In [175]:
X<-6
Y=8
mode(6)
length(X)

[1] "numeric"

[1] 1

In [176]:
Z<-c(1,2,3)
Names <- c("A","B","C")
mode(Z)
length(Z)
Names

[1] "numeric"

[1] 3

[1] "A" "B" "C"

In [177]:
X==Y
X!=Y

[1] FALSE

[1] TRUE

In [178]:
c(1,2,3) + c(4,5,6)
c(1,2,3) * c(4,5,6)
c(12,12,12) / c(1,2,3)

[1] 5 7 9

[1]  4 10 18

[1] 12  6  4

In [179]:
A1<-c("A","B","C")
B1<-c("p", "q", "r")
C1<-c(A1,B1)
C1

[1] "A" "B" "C" "p" "q" "r"

In [180]:
df<-data.frame(ID=c("A01","A02","A03"),Gender=c("M","F","M"), Weight=c(35,45,56))
df
mode(df)

  ID  Gender Weight
1 A01 M      35
2 A02 F      45
3 A03 M      56

[1] "list"

In [181]:
df$Weight
df$Weight[1]
# df$Weight[1]=36

[1] 35 45 56

[1] 35

In [182]:
# fix(df)

In [183]:
df$Height<-c(86,71,77)
df

  ID  Gender Weight Height
1 A01 M      35     86
2 A02 F      45     71
3 A03 M      56     77

In [184]:
cbind(df, New_Var = c(72, 49, 68))
df
df <- cbind(df, New_Var=c(72, 49, 68))
df
df$New_Var <- NULL
df

  ID  Gender Weight Height New_Var
1 A01 M      35     86     72
2 A02 F      45     71     49
3 A03 M      56     77     68

  ID  Gender Weight Height
1 A01 M      35     86
2 A02 F      45     71
3 A03 M      56     77

  ID  Gender Weight Height New_Var
1 A01 M      35     86     72
2 A02 F      45     71     49
3 A03 M      56     77     68

  ID  Gender Weight Height
1 A01 M      35     86
2 A02 F      45     71
3 A03 M      56     77

In [185]:
rbind(df, c("A04", 49, 68, 55))

  ID  Gender Weight Height
1 A01 M      35     86
2 A02 F      45     71
3 A03 M      56     77
4 A04 49     68     55

In [187]:
# rm(df)

In [201]:
mode(df)
typeof(df)
length(df)
nrow(df)
ncol(df)
dim(df)
head(df)
tail(df, 2)
summary(df)

[1] "list"

[1] "list"

[1] 4

[1] 3

[1] 4

[1] 3 4

  ID  Gender Weight Height
1 A01 M      35     86
2 A02 F      45     71
3 A03 M      56     77

  ID  Gender Weight Height
2 A02 F      45     71
3 A03 M      56     77

      ID               Gender              Weight          Height
 Length:3           Length:3           Min.   :35.00   Min.   :71.0
 Class :character   Class :character   1st Qu.:40.00   1st Qu.:74.0
 Mode  :character   Mode  :character   Median :45.00   Median :77.0
                                       Mean   :45.33   Mean   :78.0
                                       3rd Qu.:50.50   3rd Qu.:81.5
                                       Max.   :56.00   Max.   :86.0

In [216]:
tapply(df$Height, df$Gender, summary)

$F
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
     71      71      71      71      71      71

$M
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  77.00   79.25   81.50   81.50   83.75   86.00